.tactileButton {
  cursor: pointer;
}

#top:hover {
  transform: translate(0px, 1px);
}

#top:active {
  transform: translate(0px, 12px);
  transition-duration: 0.25s;
}

.buttonLabel {
  pointer-events: none;
}
